---
layout: default
--- 

<!-- in site -->
{% for post in paginator.posts %}
<div id="{{ post.date | date: "%F-%H" }}" class="unit whole align-left post">
	<article itemscope itemtype="http://schema.org/BlogPosting">
		<h2>{{ post.title }}<br>
		<small class="chip">{{ post.date | date: "%b %-d, %Y" }}</small>
		<a class="chip" href="https://twitter.com/intent/tweet?text={{ post.title | cgi_escape }}&url={{ post.date | date: "%F-%H" | prepend: "#" | prepend: site.baseurl | prepend: site.url | cgi_escape }}"><i class="icon ion-social-twitter"></i> TWEET</a>
		<a class="chip" href="{{ site.url }}{{ site.baseurl }}#{{ post.date | date: "%F-%H" }}"><i class="icon ion-android-share-alt"></i> LINK</a>
		</h2>
		
		<div class="post-content">
			{{ post.content }}
		</div>

		{% if post.author %}
		<span class="chip" itemprop="author" itemscope itemtype="http://schema.org/Person">
			<span itemprop="name">Article by {{ post.author }}</span>
		</span>
		{% endif %}

	</article>
</div>
{% endfor %}

<!-- Pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ '/' | append: site.baseurl | append: paginator.previous_page_path | replace: '//', '/' }}">&larr;</a>
  {% else %}
    <span>&larr;</span>
  {% endif %}

  {% for page_num in (1..paginator.total_pages) %}
    {% if page_num == paginator.page %}
      <em>{{ page_num }}</em>
    {% elsif page_num == 1 %}
      <a href="{{ '/' | append: site.baseurl | replace: '//', '/' }}">{{ page_num }}</a>
    {% else %}
      <a href="{{ '/' | append: site.baseurl | append: site.paginate_path | replace: '//', '/' | replace: ':num', page_num }}">
        {{ page_num }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ '/' | append: site.baseurl | append: paginator.next_page_path | replace: '//', '/' }}">
      &rarr;</a>
  {% else %}
    <span>&rarr;</span>
  {% endif %}
</div>
{% endif %}
